/* Reset some default styles */
body{
    margin: 0;
    
    background-image: url(leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #423c3c;
    color: #fff;
    
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#about {
    
    text-align: center;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #fff;
}

#skills ul li {
    background-color: #423c3c;
    padding: 10px;
    border-radius: 5px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-bottom: 10px;
}









p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.footer {
    width: 100%;

    padding: 2px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}


footer p{
    display: flex;
    flex: 5px;
}
.footerid{
    background-position: center;
}